@import "~styles/variables.scss";

.nav {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      > a {
        margin-right: 20px;
        color: $black;
        &:global(.active){
          color: $blue;
        }
      }

    }
  }
}
